<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/manageUsers.js" defer></script>
    <script src="/static/js/userReports.js" defer></script>
    <script src="/static/js/notifications.js" defer></script>
</head>
<body>
<div class="tab">
    <button class="tabTitle" >Dog Worry</button>
    <button class="tablinks" onclick="openTab(event, 'Logout')" type="submit">Logout</button>
    <button class="tablinks" onclick="openTab(event, 'ManageUsers')">Users</button>
    <button class="tablinks" onclick="openTab(event, 'BugsReports')">Bugs Reports</button>
    <button class="tablinks" onclick="openTab(event, 'Notify')">Notifications Center</button>
    <button class="tablinks" id="AuthoritiesReportButton" onclick="openTab(event, 'AuthoritiesReport')">Authorities Report</button>
</div>

<div id="Logout" class="tabcontent">
  <h3>Logout</h3>
  <p>Logout</p>
</div>

<div id="AuthoritiesReport" class="tabcontent">
    <div id="AuthoritiesReportContent">
        <h2>Send the authorities a report:</h2>
        <div id="authoritiesForm" class="authoritiesForm">
            <label for="title">Subject:</label>
            <input type="text" id="notificationTitle" placeholder="Enter Subject..."/>
            <label for="title">Location:</label>
            <input type="text" id="notificationTitle" placeholder="Enter an address as accurate as possible..."/>
            <label for="notificationMessage">Your report:</label>
            <textarea id="notificationMessage" placeholder="Enter your description..." rows="10"></textarea>
            <div class="container">
                <button type="button" id="authorb" class="button" onclick="alert('Your report has been submitted successfully!'); 
                                     document.getElementById('AuthoritiesReport').style.display='none';">Send Report</button>
            </div>
    </div> 
</div>

<div id="ManageUsers" class="tabcontent">
    <div id="manageUsersContent">
        <div class="container">
            <h1>Manage Users</h1>
            <table>
                <thead>
                    <tr>
                        <!--maybe add name after fixing mongodb-->
                        <th>ID</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    <!-- user rows will be added dynamically -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="Notify" class="tabcontent">
    <div id="NotifyContent">
        <div class="container">
            <h1>Notify Users</h1>
            <h1>click on a report from the list and send all users a notification</h1>
            <table id="approved_reports">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Address</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="notifyTableBody"></tbody>
            </table>
            <div id="notificationForm" class="notificationForm">
                <label for="title">Enter the title for the push notification:</label>
                <input type="text" id="notificationTitle" placeholder="example: Road Blocked" />
                <label for="notificationMessage">Your message:</label>
                <textarea id="notificationMessage" rows="4"></textarea>
                <div class="container">
                    <button type="button" class="button" onclick="handleNotifySubmit()">Send Notification</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="BugsReports" class="tabcontent">
    <div id="BugsReportsContent">
        <div class="container">
            <h1>Application reports:</h1>
            <table>
                <thead>
                    <tr>
                        <th>Report ID</th>
                        <th>description</th>
                        <th>Status</th>
                        <th>Manage</th>                
                    </tr>
            </thead>
        <tbody id="reportsTableBody"></tbody>
    </table>
</div>



</body>
</html>

